{% load static %}
<nav class="navbar navbar-light bg-dark custom-nav-styling" style="padding: 0px;padding-right: 15px; padding-left: 5px;">
        
        <a href="#" class="navbar-brand">
                <img src="{% static 'image/sfsdf.png' %}" style=" height:100px; width:200px; background-color: rgb(48, 48, 48);padding-right: 0px">
            
        </a>
        <!-- condition -->
        <div class = "buttons-nav" style=" font-size: 20px;">
        <a href="" class="btn btn-outline-info" >Profile</a>
        <a href="" class="btn btn-outline-danger" >LogOut</a>

        <!-- else -->
        <a href="" class="btn btn-outline-success" >LogIn</a>
        <a href="#" class="btn btn-outline-light" >Register</a>
        </div>
        

 
</nav>

