{% extends "base.html" %}
{% block content %}

    <div class="text-center form-log">

        <form  method = "post">
            {% csrf_token %}
            {% if designation == "special" %}
                <label  class="label1">USERNAME</label><br>
                {{form.username}}<br>
                <label>PASSWORD</label><br>
                {{form.password}}<br>
                <label >PHONE</label><br>
                {{form.phone}}


            {% elif designation == "organization" %}
                <label class="label1">ORGANIZATION</label><br>
                {{form.organization}}<br>
                <label>PASSWORD</label><br>
                {{form.password}}<br>
                <label >PHONE</label><br>
                {{form.phone}}



            {% elif designation == "event" %}
                <label class="label1">EVENT</label><br>
                {{form.event}}<br>
                <label>LOCATION</label><br>
                {{form.location}}<br>
                <label>AFTER DAYS</label><br>
                {{form.after_days}}<br>
                <label>INFO</label><br>
                {{form.info}}
            
            {% elif designation == "orgsec" %}
                <label class="label1">MINIMUM AGE</label><br>
                {{form.minimum_age}}<br>
                <label class ="label1">MAXIMUM AGE</label><br>
                {{form.maximum_age}}<br>
                <label>DISABILITY</label><br>
                {{form.disability}}<br>
                <label>ACTIVITIES</label><br>
                {{form.activities}}<br>
                <label>INFO</label><br>
                {{form.info}}


            {% elif designation == "spesec" %}
                <label class="label1">AGE</label><br>
                {{form.age}}<br>
                <label >BIO</label><br>
                {{form.bio}}<br>
                <label>DISABILITY</label><br>
                {{form.disability}}<br>
                <label>ACTIVITIES</label><br>
                {{form.activities}}
                



            {% endif %}
            <br>
            <br>
            <input class ="btn btn-outline-success" type = "submit"  name = "Sign Up" />
        </form>
    </div>
{% endblock %}
