{% extends "base.html" %}
{% block content %}

    <div class="text-center form-log">

        <form  method = "post">
            {% csrf_token %}
            {% if designation == "special" %}
                <label  class="label1">USERNAME</label><br>
                {{form.username}}<br>
                <label>PASSWORD</label><br>
                {{form.password}}<br>
                <label >PHONE</label><br>
                {{form.phone}}


            {% elif designation == "organization" %}
                <label class="label1">ORGANIZATION</label><br>
                {{form.organization}}<br>
                <label>PASSWORD</label><br>
                {{form.password}}<br>
                <label >PHONE</label><br>
                {{form.phone}}
                

            {% endif %}
            <br>
            <br>
            <input class ="btn btn-outline-success" type = "submit"  name = "Sign Up" />
        </form>
    </div>
{% endblock %}
