*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* html{
    background:linear-gradient(rgba(0, 133, 126,0.8),rgb(0, 145, 241));
} */

.form-log{
    color: white;
    text-align: center;
    border: 1px solid blue;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.836),rgb(102, 7, 73));
    border-radius: 20px;
    box-shadow: 0px 10px 5px rgba(52, 0, 100, 0.918);
    margin-bottom: 100px;
}

.form-log input[type = "text"]{
    margin-top: 1%;
    padding-top: 5px;
    margin-bottom: 3%;
    width: 50%;
    height: 40px;
    border-radius:5px;
    border: 1px transparent;
}

.form-log input[type = "password"]{
    margin-top: 1%;
    padding-top: 5px;
    margin-bottom: 5%;
    width: 50%; 
    height: 40px;
    border-radius:5px;
    border: 1px transparent;
}

.form-log input[type = "number"]{
    margin-top: 1%;
    padding-top: 5px;
    margin-bottom: 5%;
    width: 50%; 
    height: 40px;
    border-radius:5px;
    border: 1px transparent;
}

.form-log input[type = "submit"]{
    margin-bottom: 20%;
}

/* .form-log a{
    color: rgb(185, 0, 0);
    font-size: 15px;
    padding-bottom: 5px;
} */


.infoorg input[type ="text"]{
    width: 70%;
    height: 125px;
}




.age1 input[type = "number"]{
    width: 10%;
    text-align: center;
}

.age2 input[type = "number"]{
    width: 10%;
    text-align: center;
}





.custom-nav-styling{
    background: linear-gradient(to right,purple,rgba(44, 6, 48, 0.1),purple);
    position: fixed;
    top: 0px;
    width: 100%;
    
}


.label1{
    margin-top: 10%;
}



.spe-cont{
    margin-top: 9%;
}


/* .spe-all{
    margin-top: 9%;
} */


.spe-card{
    color: white;
    background-color: transparent;
}

.spe-cards{
    width:175px;
    height:150px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 200px
}

/* .spe-cardsb{
    width:175px;
    height:150px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 200px
} */

.all-card{
    background: linear-gradient(rgb(109, 0, 109),rgb(206, 46, 255));
    border-radius: 5px;
    height: 500px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
}

.card{
    border-radius: 10px;
    margin-top: 20px;
}

/* .main-blog{
    background: linear-gradient(rgb(77, 0, 77),rgb(81, 0, 105));

    border-radius: 5px;
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    width: 500px;
} */

.main-blog{
    
    background: linear-gradient(rgb(77, 0, 77),rgb(81, 0, 105));
    color:white;
    border-radius: 5px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 100px;
    width: 90%;
}

.main-blog1{
    background: linear-gradient(rgb(77, 0, 77),rgb(81, 0, 105));
    color: white;
    border-radius: 5px;
    height: 250px;
    margin-left: 80px;
    margin-right: 100px;
    width: 90%;
}


.events{
    background: linear-gradient(rgb(77, 0, 77),rgb(81, 0, 105));
    color: white;
    border-radius: 10px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
}

.card-group{
    margin-top: 9%;
}


.events-img{
    height: 200px;
    width: 200px;
}